Options +FollowSymlinks
DirectoryIndex index.php index.html
ErrorDocument 404 /404
RewriteEngine on
RewriteRule ^bio/([a-z0-9-]*)/?$ ?site=bio&subsite=$1 [NC]
RewriteRule ^vita/([a-z0-9-]*)/?$ ?site=vita&subsite=$1 [NC]
RewriteRule ^about/([a-z0-9-]*)/?$ ?site=about&subsite=$1 [NC]
RewriteRule ^rss/?$ rss.php [NC]
RewriteRule ^portfolio/([a-z0-9-]*)/?$ ?site=portfolio&subsite=$1 [NC]
RewriteRule ^proj/rosenball_2008-8c/index.html$ http://petergrassberger.at/portfolio/rosenball-dreams/ [R=301,NC]
RewriteRule ^proj/rosenball_2008-8c/$ http://petergrassberger.at/portfolio/rosenball-dreams/ [R=301,NC]
RewriteRule ^proj/index.html$ http://petergrassberger.at/portfolio/ [R=301,NC]
RewriteRule ^proj/?$ http://petergrassberger.at/portfolio/ [R=301,NC]
##Uncommented to make other sites work..
#RewriteRule ^([a-z0-9-]+)/?$ ?site=$1&subsite=$2 [NC]
RewriteRule ^googleaefd8488cd9789be.html$ ?
