{{> adminHead}}
            <article>
                {{#tag}}
                <h1><a href="/admin/tags/{{name_clean}}/">Admin Tag: {{name}}</a></h1>

                <div class="editForm">
                    <form role="form" action="/admin/tags/{{name_clean}}/" method="post">
                        <div>
                            <label for="name">Name</label><br />
                            <input type="text" name="name" id="name" value="{{name}}" placeholder="Name">
                        </div>
                        <div>
                            <label for="name_clean">Name Clean</label><br />
                            <input type="text" name="name_clean" id="name_clean" value="{{name_clean}}" placeholder="Name Clean">
                        </div>
                        <div>
                            <label for="color">Color</label><br />
                            <input type="text" name="color" id="color" value="{{color}}" placeholder="#000000">
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="editPreview">
                    <label>Preview</label>
                    <ul class="tags">
                        <li><a href="/projects/tags/{{name_clean}}" style="background-color: {{color}}">{{name}}</a></li>
                    </ul>
                </div>
                {{/tag}}
            </article>
{{> adminFooter}}