{{> adminHead}}
            <article>
                <h1><a href="/admin/pages/">Admin > Pages</a></h1>

                {{#pages}}
                <h2>{{id}}: {{title}}</h2>
                <div>
                    <ul>
                        {{#pages}}
                        <li><a href="/admin/pages/{{languageTag}}/{{title_clean}}/">{{languageTag}}: {{title}}</a></li>
                        {{/pages}}
                    </ul>
                    <a href="/admin/translate/page/{{id}}/">translate</a>
                </div>
                {{/pages}}

                <br /><a href="/admin/create/page/">Create Page</a>
            </article>
{{> adminFooter}}