{{> head}}
            <article>
                <h1><a href="/admin/pages/">Admin > Pages</a></h1>

                {{#pages}}
                <h2><a href="/admin/pages/{{title_clean}}/">{{title}}</a></h2>
                <a href="/admin/remove/page/{{title_clean}}/">delete</a><br />
                {{/pages}}
                <a href="/admin/create/page/">Create Page</a>
            </article>
{{> footer}}