{{> head}}
            <article>
                <h1><a href="/admin/">admin</a></h1>
                <ul>
                    <li><a href="/admin/pages/">Pages</a></li>
                    <li><a href="/admin/projects/">Projects</a></li>
                    <li><a href="/admin/posts/">Posts</a></li>
                </ul>
            </article>
{{> footer}}