{{> head}}
            <article>
                <h1><a href="/admin/projects/">Admin > Projects</a></h1>

                {{#projects}}
                <h2>{{id}}: {{title}}</h2>
                <div>
                    <ul>
                        {{#pages}}
                        <li><a href="/admin/projects/{{languageTag}}/{{title_clean}}/">{{languageTag}}: {{title}}</a></li>
                        {{/pages}}
                    </ul>
                    <a href="/admin/translate/project/{{id}}/">translate</a>
                </div>
                {{/projects}}

                <br /><a href="/admin/create/project/">Create Project</a>
            </article>
{{> adminFooter}}