{{> head}}
            <article>
                <h1><a href="/admin/posts/">Admin > Posts</a></h1>

                {{#posts}}
                <h2><a href="/admin/posts/{{title_clean}}/">{{title}}</a></h2>
                <a href="/admin/remove/post/{{title_clean}}/">delete</a><br />
                {{/posts}}
                <a href="/admin/create/post/">Create Post</a>
            </article>
{{> footer}}