{{> head}}
            <article class="fullWidth">
                <h1><a href="/admin/create/post/">Admin Create Post</a></h1>

                <div class="editForm">
                    <form role="form" action="/admin/create/post/" method="post">
                        <div>
                            <label for="title">Title</label><br />
                            <input type="text" name="title" id="title" placeholder="Title">
                        </div>
                        <div>
                            <label for="title_clean">Title Clean</label><br />
                            <input type="text" name="title_clean" id="title_clean" placeholder="Title Clean">
                        </div>
                        <div>
                            <label for="content">Content</label><br />
                            <textarea name="content" id="content" placeholder="Content" rows="20"></textarea>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="editPreview">
                    <label>Preview</label>
                    <h1><a href="/*title_clean*/">*title*</a></h1>
                    <div>
                        *content*
                    </div>
                </div>
            </article>
{{> adminFooter}}