{{> adminHead}}
            <article>
                <h1><a href="/admin/posts/">Admin: Posts</a></h1>

                {{#posts}}
                <h2>{{id}}: {{title}}</h2>
                <div>
                    <ul>
                        {{#pages}}
                        <li><a href="/admin/posts/{{languageTag}}/{{title_clean}}/">{{languageTag}}: {{title}}</a></li>
                        {{/pages}}
                    </ul>
                    <a href="/admin/translate/post/{{id}}/">translate</a>
                </div>
                {{/posts}}

                <br /><a href="/admin/create/post/">Create Post</a>
            </article>
{{> adminFooter}}