{{> head}}
            <article>
                <h1><a href="/admin/projects/">Admin > Projects</a></h1>

                {{#projects}}
                <h2><a href="/admin/projects/{{title_clean}}/">{{title}}</a></h2>
                <a href="/admin/remove/project/{{title_clean}}/">delete</a><br />
                {{/projects}}
                <a href="/admin/create/project/">Create Project</a>
            </article>
{{> footer}}