{{> adminHead}}
            <article>
                <h1><a href="/admin/">admin</a></h1>

                <h2><a href="/admin/pages/">Pages</a></h2>
                <h2><a href="/admin/projects/">Projects</a></h2>
                <h2><a href="/admin/posts/">Posts</a></h2>
                <h2><a href="/admin/tags/">Tags</a></h2>
            </article>
{{> adminFooter}}