<header class="col-sm-12">
    <div class="col-sm-6 row">
        <h1><a href="/">Peter Grassberger</a></h1>
        <span>
            Digital Native, Movie Addict, Web & Game Dev, Pirate.
        </span>
    </div>

    {{> mainnav}}
</header>
