<nav id="language">
    <ul>
        {{#translations}}
        <li><a href="{{url}}" hreflang="{{languageTag}}"><abbr lang="{{languageTag}}" title="{{languageName}}">{{languageTag}}</abbr></a></li>
        {{/translations}}
    </ul>
</nav>