<nav id="mainnav" class="col-sm-6 row">
    <ul class="nav nav-pills">
        <!-- todo: replace with menu from database -->
        <li><a href="/">Bio</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>
