<nav id="mainnav">
    <ul>
        <!-- todo: replace with menu from database -->
        <li><a href="/">Start</a></li>
        <li><a href="/projects/">Projects</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contact/">Contact</a></li>
    </ul>
</nav>
