{{> head}}
            <article>
                <h1><a href="/">404 - Not Found</a></h1>
                <p>
                    Sorry, we could not find the Page your are looking for.
                </p>
            </article>
{{> footer}}