{{> head}}
            <article>
            {{#page}}
                <!-- todo: if index, link to root -->
                <h2><a href="/{{title_clean}}/">{{title}}</a></h2>
                {{content}}
            {{/page}}
            </article>
{{> footer}}