{{> head}}
            <article>
            {{#page}}
                <!-- todo: if index, link to root -->
                <h1><a href="/{{title_clean}}/">{{title}}</a></h1>
                {{{content}}}
            {{/page}}
            </article>
{{> footer}}