{{> head}}
            {{#flashMessage}}
            <div class="flashMessage">
                {{{flashMessage}}}
            </div>
            {{/flashMessage}}

            <article>
            {{#page}}
                {{#index}}
                <h1><a href="/">{{title}}</a></h1>
                {{/index}}
                {{^index}}
                <h1><a href="/{{title_clean}}/">{{title}}</a></h1>
                {{/index}}
{{{content}}}
            {{/page}}
            </article>
{{> footer}}