{{> header}}
        <h2>Portfolio</h2>
        <ul>
            {{#projects}}
            <li>
                <a href="">
                    <h4>{{title}}</h4>
                    <span></span>
                    <p></p>
                </a>
            </li>
            {{/projects}}
        </ul>
{{> footer}}