{{> head}}
            <article>
            {{#post}}
                <h2><a href="/blog/{{title_clean}}/">{{title}}</a></h2>
                {{content}}
            {{/post}}
            </article>
{{> footer}}