{{> head}}
            <article>
            {{#project}}
                <h1><a href="/projects/{{title_clean}}/">{{title}}</a></h1>
                {{{content}}}
            {{/project}}
            </article>
{{> footer}}