{{> head}}
            <article>
                <h2><a href="/projects/">Projects</a></h2>
            {{#projects}}
                <h4><a href="/projects/{{title_clean}}/">{{title}}</a></h4>
                <span></span>
                <p></p>
            {{/projects}}
            </article>
{{> footer}}