RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{HTTP_HOST} (www\.)?petertheone\.com$ [NC]
RewriteRule ^(.*)$ http://petergrassberger.com/$1 [R=301,L]

RewriteCond %{HTTP_HOST} (www\.)?petertheone\.at [NC]
RewriteRule ^(.*)$ http://petergrassberger.at/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]